.nameRegi {
  color: yellowgreen;
  padding-left: 215px;
  font-size: 25px;
}

.form_border {
  margin: auto;
  float: none;
  border: 1px solid #ccc;
}

.btnset {
  margin-bottom: 29px;
  margin-left: 41%;
}
.alert {
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 45%;
    margin: auto;
    text-align: center;
}