
<div class="mainctr">
	<form action="action_page.php">
  <div class="imgcontainer">
  <h1>Profile page</h1>
    <img src="./assets/img.jpg" style="height: 80px; width: 80px"  alt="Avatar" class="avatar">
  </div>
 <ul class="list-group">
 	<li class="list-group-item">User Name: {{username}}</li>
 	<li class="list-group-item"> Email: {{email}}</li>

 	
 </ul>

<!-- 
  <div class="" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div> -->
 	
 	
</form>
</div>

